<!DOCTYPE HTML>
<html ng-app="meetupApp">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>List of APIs</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">
	</head>
	<body>
		<h3> GET   http://ec2-54-69-15-160.us-west-2.compute.amazonaws.com:3000/api/event  </h3>
		<h3> POST  http://ec2-54-69-15-160.us-west-2.compute.amazonaws.com:3000/api/event  </h3>

		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-resource.js"></script>
	</body>
</html>
